{% extends "newsapp/layout.html" %}
{% load i18n %}

{% block newsapp_content %}
    <section class="newsapp-opened" itemscope="" itemtype="http://schema.org/Article">
        <meta itemprop="discussionUrl" content="http://{{ request.get_host  }}{{ item.get_absolute_url }}">
        <meta itemprop="datePublished" content="{{ item.date_added|date:"Y.m.d" }}">

        <h1 itemprop="headline name">{{ item.title }}</h1>
        {% if item.image %}
            <figure>
                <a href="{{ item.image.url }}" title="{{ item.title }}">
                    <img src="{{ item.image.url }}" alt="{{ item.title }}" />
                </a>
            </figure>
        {% endif %}
        <article itemprop="articleBody">
            {{ item.content|safe }}
        </article>
        <time itemprop="datePublished" datetime="{{ item.date_added|date:"Y.m.d" }}">{% trans "date added"|capfirst %}: {{ item.date_added|date:"d.m.Y" }}</time>

        {% with item.new_category.all as categories %}
            {% if categories %}
                <div class="taxonomy categories">
                    <span>{% trans "categories"|capfirst %}:</span>
                    {% for category in categories %}
                        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% with item.tag.all as tags %}
            {% if tags %}
                <div class="taxonomy tags">
                    <span>{% trans "tags"|capfirst %}:</span>
                    {% for tag in tags %}
                        <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

    </section>
{% endblock newsapp_content %}


