{% extends "base.html" %}
{% load thumbnail i18n %}

{% block content %}

    {% include "_archive.html" %}

    <article class="newsapp-opened">
        <h1>{{ item.title }}</h1>
        {% if item.image %}
            <figure>
                <a href="{{ item.image.url }}" title="{{ item.title }}">
                    <img src="{{ item.image.url }}" alt="{{ item.title }}" />
                </a>
            </figure>
        {% endif %}
        {{ item.content|safe }}
        <div class="clearfix"></div>
        <br />
        <time class="label label-default" datetime="{{ item.date_added|date:"Y.m.d" }}">{% trans "date added"|capfirst %}: {{ item.date_added|date:"d.m.Y" }}</time>
    </article>

{% endblock content %}
